In [ ]:
! pip install pandas
! pip install openpyxl

# Lendo arquivo e limpando dados

In [4]:
import pandas as pd

In [30]:
ritter = pd.read_excel('RitterSport_set23.xlsx', sheet_name='Base_#').reset_index()
ritter.head(30)

,index,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,SEXO,NaN,NaN,NaN,FAIXA ETÁRIA,NaN,NaN,...,NaN,NaN,NaN,NaN,REGIÃO,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,Total,Masculino,Feminino,NaN,Total,16 a 29,30 a 49,...,AB,C,DE,NaN,Total,SE,S,CO,N,NE
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Q1: A cidade que você mora é?,Total,200,96,104,NaN,200,56,76,...,50,94,56,NaN,200,86,30,16,16,52
5,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,NaN,Capital,92,43,49,NaN,92,29,33,...,29,42,21,NaN,92,35,11,11,9,26
7,7,NaN,Região metropolitana,43,20,23,NaN,43,13,18,...,7,21,15,NaN,43,22,8,2,1,10
8,8,NaN,Interior do estado,65,33,32,NaN,65,14,25,...,14,31,20,NaN,65,29,11,3,6,16
9,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,sexoHU: Sexo,Total,200,96,104,NaN,200,56,76,...,50,94,56,NaN,200,86,30,16,16,52
12,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,NaN,Masculino,96,96,0,NaN,96,28,34,...,27,44,25,NaN,96,39,16,7,9,25
14,14,NaN,Feminino,104,0,104,NaN,104,28,42,...,23,50,31,NaN,104,47,14,9,7,27
15,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,FaixaEtária: Faixa Etária,Total,200,96,104,NaN,200,56,76,...,50,94,56,NaN,200,86,30,16,16,52
18,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,NaN,De 16 a 24 anos,36,18,18,NaN,36,36,0,...,6,19,11,NaN,36,14,6,2,2,12
20,20,NaN,De 25 a 29 anos,20,10,10,NaN,20,20,0,...,2,12,6,NaN,20,8,2,2,2,6
21,21,NaN,De 30 a 39 anos,40,18,22,NaN,40,0,40,...,10,17,13,NaN,40,13,6,4,5,12
22,22,NaN,De 40 a 49 anos,36,16,20,NaN,36,0,36,...,9,17,10,NaN,36,15,6,2,3,10
23,23,NaN,50 anos ou mais,68,34,34,NaN,68,0,0,...,23,29,16,NaN,68,36,10,6,4,12
24,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,rfHU: Renda Familiar,Total,200,96,104,NaN,200,56,76,...,50,94,56,NaN,200,86,30,16,16,52
27,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,NaN,Até R$ 1.320,16,10,6,NaN,16,7,5,...,0,0,16,NaN,16,4,4,1,1,6
29,29,NaN,De R$ 1.321 a R$ 2.640,40,15,25,NaN,40,10,18,...,0,0,40,NaN,40,17,5,5,2,11

In [20]:

ritter.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21'],
      dtype='object')

In [48]:
perguntas = ritter['Unnamed: 0'].dropna().reset_index()
perguntas.columns=['linha','pergunta']
print(type(perguntas))
perguntas

<class 'pandas.core.frame.DataFrame'>

#### verifica a linha em perguntas , salva linhas do df comparando duas colunas ate achar NaN pela SEGUNDA VEZ, gera df auxilixar com dados

In [49]:
for index,linha,pergunta in perguntas:
    print(linha)

ValueError: too many values to unpack (expected 3)